---
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import UserIcon from '../components/icons/User.astro';
---

<Layout>
	<main>
		<SectionContainer class="py-10 pb-24">
			<div class="flex items-center gap-3 mb-4 flex-wrap">
				<img 
					class="rounded-full size-36 object-contain"
					src="/foto.png" 
					alt="Foto alvaro"
				/>
				<a href="https://www.linkedin.com/in/%C3%A1lvaro-ju%C3%A1rez-garc%C3%ADa-894254303/"
						target="_blank"
						rel="noopener noreferrer"
						class="flex items-center"
				>
				<div class="flex justify-center items-center px-3 py-1 bg-green-400 bg-opacity-20 text-black text-xs font-light rounded-full whitespace-nowrap">
					Disponible para trabajar
				</div>
				</a>
			</div>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 items-center pb-4">
				Hey, soy Álvaro
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-amber-400">Ingeniería Informática</span> · 
				<span class="opacity-50">Software Developer</span> <br>
				Explorando el mundo de la 
				<span class="text-amber-300">Inteligencia Artificial</span>.
				<span class="text-red-200/90">De Murcia, España <span class="text-lg">ES. </span></span>
				<span class="opacity-70">Especializado en crear aplicaciones únicas.</span>
			</h2>

			<nav class="flex flex-wrap gap-3 mt-8">
					<SocialPill href="https://www.linkedin.com/in/%C3%A1lvaro-ju%C3%A1rez-garc%C3%ADa-894254303/">
						<LinkedInIcon class="size-6" />
						<span class="text-sm font-medium">LinkedIn</span>
					</SocialPill>
				
					<SocialPill href="https://github.com/Alvarojrzz">
						<GitHubIcon class="size-6" />
						<span class="text-sm font-medium">GitHub</span>
					</SocialPill>

					<SocialPill href="mailto:juarezgarciaalvaro@gmail.com">
						<MailIcon class="size-6" />
						<span class="text-sm font-medium">juarezgarciaalvaro@gmail.com</span>
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-3">
				<CodeIcon class="size-7 text-amber-400" />
				Proyectos Destacados
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="mt-4 pb-24">
            <div class="grid grid-cols-1 md:grid-cols-2 items-center">
                <div>
                    <h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-3">
                        <UserIcon class="size-7 text-amber-400" />
                        Sobre mí
                    </h2>
                    <p class="text-lg text-justify">
						Soy Álvaro Juárez García, estudiante de cuarto año de <span class="text-amber-200 ">Ingeniería Informática</span> y desarrollador de software con interés en el <span class="text-amber-200 ">desarrollo web</span>. 
					</p>
					<p class="text-lg text-justify mt-4">
						Me apasiona crear aplicaciones web funcionales, bien estructuradas y con una experiencia de usuario clara.
					</p>
					<p class="text-lg text-justify mt-4">
						Actualmente, estoy explorando el campo de la <span class="text-amber-200">Inteligencia Artificial</span> y su integración en aplicaciones web para desarrollar soluciones innovadoras.
					</p>
                </div>

                <div class="flex justify-center md:justify-end">
                    <img
						src="/foto.png"
						alt="Foto de Álvaro Juárez García"
						class="rounded-full size-72 max-w-none object-cover shadow-lg"
					>
                </div>
            </div>
        </SectionContainer>
	</main>

</Layout>
