<header class="flex justify-center items-center py-5 w-full">
    <nav class="flex flex-row gap-x-2 opacity-80 text-sm">
        <a href="#top" class="mx-4 px-1 hover:text-amber-400">Inicio</a>
        <a href="#proyectos" class="mx-4 px-1 hover:text-amber-400">Proyectos</a>
        <a href="#sobre-mi" class="mx-4 px-1 hover:text-amber-400">Sobre mí</a>
        <a href="#contacto" class="mx-4 px-1 hover:text-amber-400">Contacto</a>
    </nav>
</header>