---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section id={id} class:list={["w-full mx-auto lg:max-w-4xl md:max-w-2xl px-4", className]}>
  <slot />
</section>